name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - renovate/**
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@dc700f4dbdcf0b04364f6741a57ee392a8a387fb # v8.0.9
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@dc700f4dbdcf0b04364f6741a57ee392a8a387fb # v8.0.9
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@dc700f4dbdcf0b04364f6741a57ee392a8a387fb # v8.0.9
  test:
    uses: vidavidorra/.github/.github/workflows/node-test.yml@dc700f4dbdcf0b04364f6741a57ee392a8a387fb # v8.0.9
  code-coverage:
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@dc700f4dbdcf0b04364f6741a57ee392a8a387fb # v8.0.9
    needs:
      - lint
      - build
      - test
  release:
    uses: vidavidorra/.github/.github/workflows/release.yml@dc700f4dbdcf0b04364f6741a57ee392a8a387fb # v8.0.9
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
      - code-coverage
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
