name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - renovate/**
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  test:
    uses: vidavidorra/.github/.github/workflows/node-test.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  code-coverage:
    uses: vidavidorra/.github/.github/workflows/node-test-coverage.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
    needs:
      - lint
      - build
      - test
  release:
    uses: vidavidorra/.github/.github/workflows/release.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
      - code-coverage
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
